* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

body {
    background-color: #F6F4F0;
}

main {
    padding: 10px 20%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
}

.scroimg {
    max-width: 250px;
}

.pergafs {
    font-size: 30px;
}

.pogresbars {
    height: 60px;
    width: 80%;
    margin-top: 7%;
    border-radius: 7px;
    background-color: #FF7A7A;
    transition: all,1.2s,ease-in 1s;
    position: relative;
}

.pogrsscors {
    height: 100%;
    background-color: #35BD3A;
    border-radius: 7px;
    transition: all,1.2s,ease-in 1s;

}

.bods {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.left {
    background-color: #07ff00;
    top: 45%;
    left: 1%;
}
.minbox{
    height: 58px;
    width: 65px;
    position: relative;
}
.taka{
    position: absolute;
    bottom: -38%;
    left: -16%;
}
.los{
    position: absolute;
    bottom: -38%;
    right: -31%;

}
.smlbox1{
    position: absolute;
    top: 51%;
    left: -5.5%;
    border-left: 2px solid #35BD3A;
    border-top: 2px solid #35BD3A;

}
.smbox2{
    position: absolute;
    top: 51%;
    right: -5.5%;
    border-right: 2px solid red;
    border-top: 2px solid red;


}
.rght {
    background-color: red;
    right: 1%;
    top: 45%;
}
.contnshedig{
    margin-top: 1%;
}
.contensjesn{
    margin-top: 7%;
    font-size: 20px;
}
.firchstst{
    margin-top: 10%;
    width: 223px;
    height: 61px;
    background-color: #01AB08;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}